/* ==========================================================================
   # FONT
   ========================================================================== */

.u-text-center {
  text-align: center !important;
}

.u-text-bold {
  font-weight: 700 !important;
}

/* ==========================================================================
   # HIDE
   ========================================================================== */

/**
 * Hide visually and from screen readers.
 */

.u-hidden {
  display: none !important;
}

.u-no-list-style {
  list-style: none !important;
}
