// ============================================================================
//  _____     ______     ______   ______     __  __     __         ______
// /\  __-.  /\  ___\   /\  ___\ /\  __ \   /\ \/\ \   /\ \       /\__  _\
// \ \ \/\ \ \ \  __\   \ \  __\ \ \  __ \  \ \ \_\ \  \ \ \____  \/_/\ \/
//  \ \____-  \ \_____\  \ \_\    \ \_\ \_\  \ \_____\  \ \_____\    \ \_\
//   \/____/   \/_____/   \/_/     \/_/\/_/   \/_____/   \/_____/     \/_/
//
// ============================================================================

$enable-box-sizing-border-box:  true !default;
$enable-normalize:              true !default;

$global-size-base:              16px !default;
$global-line-height:            1.5 !default;
$global-spacing-unit:           $global-size-base !default;

$global-container-max:          1440px !default;  // max-width container size

// ============================================================================
//   ______     ______     __         ______     ______     ______
//  /\  ___\   /\  __ \   /\ \       /\  __ \   /\  == \   /\  ___\
//  \ \ \____  \ \ \/\ \  \ \ \____  \ \ \/\ \  \ \  __<   \ \___  \
//   \ \_____\  \ \_____\  \ \_____\  \ \_____\  \ \_\ \_\  \/\_____\
//    \/_____/   \/_____/   \/_____/   \/_____/   \/_/ /_/   \/_____/
//
// ===========================================================================

$color-success:        #56ad6a;
$color-success-alt:    #ecfef0;
$color-error:          #d02e2e;
$color-error-alt:      #fff6f6;

$color-primary:        #5b5b5b;
$color-primary-alt:    #5b5b5b;
$color-secondary:      #747474;
$color-secondary-alt:  #9a9a9a;

$color-white:          #ffffff;
$color-black:          #000000;
$color-grey:           #7f7f7f;
$color-grey-dark:      #3f3f3f;
$color-grey-light:     #bfbfbf;

// =========================================================================
//  ______   ______     __   __     ______   ______
// /\  ___\ /\  __ \   /\ "-.\ \   /\__  _\ /\  ___\
// \ \  __\ \ \ \/\ \  \ \ \-.  \  \/_/\ \/ \ \___  \
//  \ \_\    \ \_____\  \ \_\\"\_\    \ \_\  \/\_____\
//   \/_/     \/_____/   \/_/ \/_/     \/_/   \/_____/
//
// =========================================================================

// Default fonts
// 1. https://news.ycombinator.com/item?id=12075623

$global-font-color:    #333333 !default;
$global-font-primary:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default; /* [1] */

// =========================================================================
//  __    __     ______
// /\ "-./  \   /\  __ \
// \ \ \-./\ \  \ \ \/\_\
//  \ \_\ \ \_\  \ \___\_\
//   \/_/  \/_/   \/___/_/
//
//  sizes in px for increased specificity
//
// =========================================================================

$global-breakpoint-xs:  480px;
$global-breakpoint-sm:  768px;
$global-breakpoint-md:  992px;
$global-breakpoint-lg:  1200px;
$global-breakpoint-xl:  1440px;

// =========================================================================
//  ______     ______     ______     __     __   __     ______
// /\  ___\   /\  __ \   /\  ___\   /\ \   /\ "-.\ \   /\  ___\
// \ \  __\   \ \  __ \  \ \___  \  \ \ \  \ \ \-.  \  \ \ \__ \
//  \ \_____\  \ \_\ \_\  \/\_____\  \ \_\  \ \_\\"\_\  \ \_____\
//   \/_____/   \/_/\/_/   \/_____/   \/_/   \/_/ \/_/   \/_____/
//
// =========================================================================

$linear:          cubic-bezier(0.250, 0.250, 0.750, 0.750);
$ease:            cubic-bezier(0.250, 0.100, 0.250, 1.000);
$ease-in:         cubic-bezier(0.420, 0.000, 1.000, 1.000);
$ease-out:        cubic-bezier(0.000, 0.000, 0.580, 1.000);
$ease-in-out:     cubic-bezier(0.420, 0.000, 0.580, 1.000);
$easeInQuad:      cubic-bezier(0.550, 0.085, 0.680, 0.530);
$easeInCubic:     cubic-bezier(0.550, 0.055, 0.675, 0.190);
$easeInQuart:     cubic-bezier(0.895, 0.030, 0.685, 0.220);
$easeInQuint:     cubic-bezier(0.755, 0.050, 0.855, 0.060);
$easeInSine:      cubic-bezier(0.470, 0.000, 0.745, 0.715);
$easeInExpo:      cubic-bezier(0.950, 0.050, 0.795, 0.035);
$easeInCirc:      cubic-bezier(0.600, 0.040, 0.980, 0.335);
$easeInBack:      cubic-bezier(0.600, -0.280, 0.735, 0.045);
$easeOutQuad:     cubic-bezier(0.250, 0.460, 0.450, 0.940);
$easeOutCubic:    cubic-bezier(0.215, 0.610, 0.355, 1.000);
$easeOutQuart:    cubic-bezier(0.165, 0.840, 0.440, 1.000);
$easeOutQuint:    cubic-bezier(0.230, 1.000, 0.320, 1.000);
$easeOutSine:     cubic-bezier(0.390, 0.575, 0.565, 1.000);
$easeOutExpo:     cubic-bezier(0.190, 1.000, 0.220, 1.000);
$easeOutCirc:     cubic-bezier(0.075, 0.820, 0.165, 1.000);
$easeOutBack:     cubic-bezier(0.175, 0.885, 0.320, 1.275);
$easeInOutQuad:   cubic-bezier(0.455, 0.030, 0.515, 0.955);
$easeInOutCubic:  cubic-bezier(0.645, 0.045, 0.355, 1.000);
$easeInOutQuart:  cubic-bezier(0.770, 0.000, 0.175, 1.000);
$easeInOutQuint:  cubic-bezier(0.860, 0.000, 0.070, 1.000);
$easeInOutSine:   cubic-bezier(0.445, 0.050, 0.550, 0.950);
$easeInOutExpo:   cubic-bezier(1.000, 0.000, 0.000, 1.000);
$easeInOutCirc:   cubic-bezier(0.785, 0.135, 0.150, 0.860);
$easeInOutBack:   cubic-bezier(0.680, -0.550, 0.265, 1.550);
